MONGO_URI=mongodb+srv://cu:cu@cu.fafaffasfa.mongodb.net/8c
LOG_LEVEL=info
PORT=3000
JWT_SECRET=your_jwt_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_EXPIRES_IN=5m
REDIS_HOST=redis-133432.c330.asia-south1-1.gce.cloud.redislabs.com
REDIS_PORT=13365
REDIS_PASSWORD=RkgIGHmicVlXfsfNVCbhHZFwtxbS1gCWqXc
REDIS_USERNAME=default